.container{
  margin-bottom: 28px;
  background-color: #635d5d;
  padding: 3% 0;
}
.wrapper{
  background-color: #fff;
  height: 400px;
  overflow-x: auto;
}
.tabs_container{
  display: flex;
  justify-content: space-between;
}
.tabs {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background: #E22D15 !important;
  margin: 0px;
  width: 20%;
  outline: none;
  color: #fff;
  /* border: 1px solid #E22D15; */
  display: block;
  margin: 0;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  border-right: 1px solid #fff;
  text-wrap: nowrap;
}

.active_tab{
  background: #fff !important;
  color:#E22D15;
  position: relative;
  margin: 0 2px !important;
  /* border: 1px dotted black; */
}
.active_tab:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: -5px;
  left: 0;
  right: auto;
  bottom: 0;
  background: #E22D15;
  opacity: 1;
}

/* Override active tab styles */
.tabs.active {
  color: aliceblue !important;
}

.data_wrapper{
  margin-top: 5px;
  padding: 1% 2%;
}
.text{
  font-size: 13px;
  font-weight: 400;
}
.text span {
  margin-left: 5px;
}
.readMore{
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: flex-end;
  color: #E22D15;
  text-align: left;
  text-decoration: none;
  margin-right: 10px;
  text-transform: capitalize;
}
.image{
  height: 188px;
}
.divider{
  height: 1px;
  margin-top: 15px;
  background-color: rgba(0,0,0,0.1);
}