@import "./components.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
   margin: 0;
}

* {
   font-family: "Poppins", sans-serif;
}
//custom
.gap {
   margin-bottom: 80px;
}
.banner1 {
   position: relative;
   img {
      // height: 453px;
      height: 543px;
      width: 100%;
      object-fit: cover;
   }
   .carousel-control-prev,
   .carousel-control-next {
      width: fit-content;
      height: fit-content;
      background-color: #19181f;
      opacity: 1;
      padding: 8px 10px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.7;
      &:hover {
         opacity: 1;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
         width: 20px;
      }
   }
   .carousel-indicators {
      display: none;
   }
   @media (max-width: 991px) {
      img {
         height: 260px;
      }
   }
}
.about {
   .heading {
      margin-bottom: 32px;
      position: relative;
      width: fit-content;
      padding-bottom: 8px;
      font-size: 24px;
      font-weight: bold;
      &::after {
         position: absolute;
         content: "";
         width: 46%;
         height: 4px;
         top: auto;
         left: 0;
         right: auto;
         bottom: 0;
         background: #000;
         opacity: 1;
      }
      &.dash {
         &::after {
            width: 46%;
         }
      }
   }
   p {
      margin-bottom: 16px;
   }
   .image {
      img {
         width: 100%;
         height: 337px;
         -o-object-fit: cover;
         object-fit: cover;
         border-radius: 12px;
      }
   }
}
.top_head {
   .tophead_right {
      a {
         color: #000;
         text-decoration: none;
         font-size: 12px;
      }
   }
}
.header_middle {
   .wrapper {
      .flex {
         justify-content: space-between;
         display: flex;
         width: 100%;
         align-items: center;
      }
   }
}
nav span {
   font-size: 11px;
}
.header_botton {
   h2 {
      font-size: 14px;
   }
   .wrapper {
      .flex {
         display: flex;
      }
   }
}
.search_form {
   width: 68%;
}
.search_section {
   float: none;
   .searchform .searchrow {
      float: none;
      width: 100%;
      display: flex;
      .search_form {
         float: none;
      }
   }
}
.search_section .searchform .searchrow input[type="text"] {
   float: none;
   height: 100%;
}
.search_section .searchform .searchrow input.form-submit {
   float: none;
   height: 100%;
}
.search_section {
   .searchrow {
      .search_form {
         form {
            display: flex;
         }
         button.form-submit {
            background-color: #fda103;
            border: none;
            height: 100%;
            display: block;
            color: #fff;
            height: 45px;
            padding: 0 12px;
         }
      }
   }
}
a#advsearchbtn {
   background: url("/images/advarrowup-wh.png") no-repeat scroll 91% 40% #5996d9;
}
.heraderbtm_col2 {
   float: none;
}
.heraderbtm_col2 #block-views-most-search-block .content ul {
   display: flex;
}
.heraderbtm_col2 #block-views-most-search-block .content ul li.views-row {
   float: none;
}
.heraderbtm_col2 h2,
.heraderbtm_col2 .h2 {
   float: none;
}
.block-inner.clearfix {
   display: flex;
}
.heraderbtm_col2 #block-views-most-search-block .content ul {
   margin-bottom: 0;
}
.block-content.content {
   width: 100%;
}
.header_middle .wrapper nav ul li {
   float: none;
   position: relative;
   a {
      float: none;
   }
   ul {
      width: max-content;
      li {
         display: block;
         width: max-content;
         margin-bottom: 16px;
         a {
            width: 100% !important;
            float: none;
         }
      }
   }
}
.information {
   margin: 100px 0;
   .heading {
      text-align: center;
      font-size: 16px;
      position: relative;
      border-bottom: 3px solid #ddd;
      &:after {
         content: "";
         display: block;
         height: 8px;
         width: 147px;
         margin: 4px auto 0;
         border-bottom: 3px solid #4d77b3;
         background: url(/images/title-arrow.png) no-repeat scroll top center;
      }
   }
   .card {
      border-radius: 0;
      padding: 12px 16px;
      margin-top: 16px;
      ul {
         list-style: none;
         padding: 0;
         margin: 0;
         li {
            background: url(/images/arrow.jpg) no-repeat scroll left 4px
               rgba(0, 0, 0, 0);
            display: block;
            line-height: 19px;
            margin: 0 0 12px;
            padding: 0 0 0 19px;
            width: 100%;
            font-size: 14px;
            box-sizing: border-box;
         }
      }
   }
}
//custom......11/22/2023

.float-element {
   display: flex;
   img {
      height: 72px;
      width: auto;
   }
}


//slider area
.slider-area {
   margin-top: 20px;
   .swiper {
      .image {
         img {
            height: 100px;
            width: auto;
         }
      }
      .swiper-button-prev,
      .swiper-button-next {
         opacity: 0;
         visibility: hidden;
         transition: all 0.4s;
      }
      .swiper-button-prev:after,
      .swiper-button-next:after {
         font-weight: 600;
      }
      &:hover {
         .swiper-button-prev,
         .swiper-button-next {
            opacity: 1;
            visibility: visible;
         }
         .swiper-button-disabled{
            opacity: 0.35;
         }
      }
   }
}
