@import './components.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}
//custom
.gap{
    margin: 100px 0;
}
.banner1{
    position: relative;
    img{
        height: 453px;
        width: 100%;
        object-fit: cover;
    }
}
.about{
    .heading{
        margin-bottom: 32px;
        position: relative;
        width: fit-content;
        padding-bottom: 8px;
        font-size: 24px;
        font-weight: bold;
        &::after{
    position: absolute;
    content: "";
    width: 46%;
    height: 4px;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    background: #000;
    opacity: 1;
        }
    &.dash{
        &::after{
            width: 46%;
        }
    }
    }
    p{
        margin-bottom: 16px;
    }
    .image{
        img{
            width: 100%;
    height: 337px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
        }
    }
}
.top_head{
    .tophead_right{
        a{
            color: #000;
            text-decoration: none;
            font-size: 12px;
        }
    }
}
.header_middle{
    .wrapper{
       .flex{
        justify-content: space-between;
        display: flex;
        width: 100%;
        align-items: center;
       }
    }
}
nav span{
    font-size: 11px;
}
.header_botton{
    h2{
        font-size: 14px;
    }
}