@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/antd/dist/antd";
@import './theme.scss';
@import './mixin.scss';
@import './global.style.scss';
@import './header.scss';
@import './footer.scss';
@import './misc.scss';

