header{
  padding: 16px 0;
  background-color: $lightGray;
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      display: flex;
      align-items: center;
      button{
        display: none;
      }
      button{
        margin-right: 10px;
        background-color: transparent;
        padding: 0;
        border:none;
      img.menu_bar{
        width: 50px;
        object-fit: contain;
      }
    }
    .logo{
      img{
        height: 72px;
      }
    }
    }
    .middle{
      a{
        margin: 0 20px;
        text-decoration: none;
        font-size: 16px;
        color: $dark;
        font-weight: 600;
      }
      .cross{
        display: none;
      }
    }
    .right{
      display: flex;
      align-items: center;
      .form-link{
        display: flex;
        align-items: center;
        margin-right: 32px;
        color: $dark;
        font-weight: 500;
        span{
          margin: 0 4px;
        }
        a{
          margin: 0;
        }
      }
      a{
        margin-right: 32px;
        &:last-child{
          margin-right: 0;
        }
      }
      button{
        background-color: transparent;
        padding: 0;
        border: none;
        margin-right: 32px;
      }
      .dropdown-toggle{
        margin-right: 32px;
        padding: 0;
        &:active{
          border: none;
        }
        &.show{
          border: none;
        }
      }
    }
  }
  @media (max-width:1024px) {
    .header-container .middle a{
      margin: 0 10px;
    }
  }
  @media (max-width:991px) {
    .header-container{
      .left{
        button{
          display: block;
        }
        .logo{
        img{height: 50px;}
        }
      }
      .middle{
        position: fixed;
        left: 0;
        top: 0;
        width: 0px;
        height: 100%;
        min-height: 100vh;
        background-color: $white;
        z-index: 2;
        box-shadow: 0 0 38px 0px rgba($color: #c0c0c0, $alpha: 0.5);
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s;
        &.active{
          width: 250px;
          opacity: 1;
        }
        .menus{
        padding-top:10px;
        width: 250px;
        }
        a{
          display: block;
          padding: 10px;
        }
        .cross{
          padding: 0;
          border: none;
          background-color: transparent;
          position: absolute;
          top: 10px;
          right: 10px;
          display: block;
          img{
            height:32px;
            opacity:0.6;
          }
        }
      }
    }
  }
  @media (max-width:575px) {
    .header-container{
      .left {
        button{
        img.menu_bar{
          width: 30px;
        }
      }
      .logo{
        img{height: 30px;}
      }
    }
    .right{
      .form-link{
        margin-right: 16px;
        font-size: 14px;
      }
      a{
        margin-right: 16px;
        &:last-child{
          margin-right: 0;
        }
      img{
        height: 20px;
      }
    }
    .dropdown{
      .dropdown-menu{
inset: auto;
right: 0;
bottom: -36px;
      }
    }    
    }
    }
  }
}
#header-wrapper .region-search-box a img {
  background: #fefefe;
  text-align: right;
  display: inline;
  float: right;
  border-radius: 10px 0 0 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 57px;
}
#logo{
  float:none;
  a{
      display: flex;
      text-decoration: none;
      color: #000;
      font-size: 21px;
      span{
          font-weight: bold;
      }
  }
  img{
      margin-right: 21px;
      width: 80px;
      height: 100px;
      object-fit: contain;
  }
}
.block-content.content{
display: flex;
align-items: center;
justify-content: space-between;
}
.top_head .tophead_right{
  float:none;
}
.block{
  margin-bottom: 0;
}
.top_head{
  height: auto;
}
.tophead_left{
  .flex{
      display: flex;
  }
  a{
      color: #000;
      text-decoration: none;
      font-size: 13px;
      padding: 10px 0;
      display: block;
      padding-left: 8px;
      font-weight: 600;
      &:first-child{
          border-right: 1px solid #e2e0e0;
          padding-right: 8px;
          padding-left: 0;
      }
  }
}
//header middle
.header_middle{
  .toggle-bar{
    width: 30px;
    height: 26px;
    border:none;
    background-color: transparent;
    border-bottom: 3px solid #777;
    position: relative;
    display: none;
    &:after{
      @include overlay($t:0,$l:0,$w:100%,$h:3px,$b:auto,$r:auto,$bg:#777,$op:1);
      transition: all 0.4s;
    }
    &:before{
      @include overlay($t:12px,$l:0,$w:100%,$h:3px,$b:auto,$r:auto,$bg:#777,$op:1);
      transition: all 0.4s;
    }
    &.cross{
      border:none;
      &::before{
        transform: rotate(-45deg);
      }
      &::after{
        top: 12px;
        transform: rotate(45deg);
      }
    }
  }
}
//bottom header
.bottom_header{
  background-color: #454545;
  border-top: 1px solid #d6d4d4;
  position: relative;
  z-index: 4;
  ul{
      list-style: none;
      padding: 0;
      margin: 0;
      &.menus{
      display: flex;
      max-height: 38px;
      overflow: hidden;
      flex-wrap: wrap;
      transition: all 0.4s;
      li{
        position: relative;
  a{
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          text-decoration: none;
          padding: 8px 15px;
          display: block;
          img{
              height: 16px;
          }
      }
      .submenu{
          position: absolute;
          width: max-content;
          min-width: 100%;
          top: 36px;
          background-color: #000;
          // padding: 8px 15px;
          color: #fff;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
          padding-left: 12px;
          li{
            background: rgba(0, 0, 0, 0) url('/images/ico-right-arrow.png') no-repeat scroll left 14px;
            a{
              font-weight: 400;
              font-size: 14px;
              &:hover{
                text-decoration: underline;
              }
            }
    
          }
      }
      &:hover{
        background-color: #000;
        .submenu{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.wrapper{
  position: relative;
  .more{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    height: 100%;
    padding:0 16px;
    font-weight: 600;
    span{
      display: block;
      padding-bottom: 8px;
    }
    .icon{
      position: absolute;
      bottom:-6px;
      padding-bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
}
@media screen and (max-width: 1006px){
  #logo {
  max-width: auto;
  }
  }
@media (max-width:950px) {
  .header_middle{
    .flex{
      padding: 0 12px;
    }
    .toggle-bar{
      display: block;
    }
    .float-element{
      display: none;
    }
  }
  .block-content.content{
    flex-wrap: wrap;
    .tophead_left{
      width: 100%;
      .flex{
        justify-content: center;
      }
      border-bottom: 1px solid #eeeeee;
    }
    .tophead_right{
      width: 100%;
      justify-content: center;
      display: flex;
    }
  }
  #logo{
    width: auto;
    max-width: 100%;
    img{
      width: 80px;
    }
  }
  .bottom_header{
    display: none;
    &.active{
      display: block;
    }
    ul{
      &.menus{
        display: block;
        max-height: none;
        li{
          .submenu{
            position: relative;
            opacity: 1;
            visibility: visible;
            top: 0;
            transform: none;
          }
        }
      }
    }
  }
}
